.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


.zoom-in {
  animation: zoomIn 0.3s ease-out forwards;
}

@keyframes zoomIn {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.box-shadow-g {
  box-shadow: 4px 12px 47px 0 rgba(0, 0, 0, 0.1);
}
/* @keyframes zoomOut {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.8); opacity: 0; }
} */

.box-shadow-a{
  box-shadow: 2px 4px 12px #00000014;
  ;
}

.box-shadow-ab{
  box-shadow: 0 0 0 1px rgb(0 0 0/4%),0 6px 20px rgb(0 0 0/20%);
}

